* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background-color: lightgreen;
}
nav {
  padding: 10px;
  text-align: center;
}
nav a {
  text-decoration: none;
  padding: 0 50px;
}

footer {
  width: 100%;
  background-color: darkgreen;
  color: white;
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: 5px;
}

.container {
  background-color: lightcyan;
  border: 2px solid;
  margin: 10px 0;
}
#container1 {
  height: 150px;
  width: 300px;
}
.box {
  height: 100px;
  width: 100px;
  background-color: lightpink;
  margin: 5px;
  text-align: center;
  border: 2px solid;
}
#floatbox {
  float: right;
}
#container2 {
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#container3 {
  height: 200px;
  width: 500px;
  display: flex;
  align-items: flex-start;
}
#flexbox6 {
  order: 4;
}
#flexbox7 {
  order: 2;
  flex-grow: 1;
}
#flexbox8 {
  order: 3;
  align-self: flex-end;
  flex-shrink: 0;
}
#flexbox9 {
  order: 1;
}
#container4 {
  height: 300px;
  width: 300px;
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 100px 100px;
}
#gridbox1 {
  grid-row: 1/2;
  grid-column: 1/2;
}
#gridbox2 {
  grid-row: 2/2;
  grid-column: 1/2;
}
#gridbox3 {
  grid-row: 1/2;
  grid-column: 2/2;
}
#gridbox4 {
  grid-row: 2/2;
  grid-column: 2/2;
}
